

&control    
    calculation = 'scf' 
    restart_mode ='from_scratch'
    prefix = 'nacl'
    outdir = './wavefunction'
    pseudo_dir = './'
/
&system
   
    ibrav=2,
    celldm(1) =10.690746835, 
    nat=2, ntyp=2,
    ecutwfc=45
/
&electrons
    conv_thr=1e-10
/
ATOMIC_SPECIES
    Na  22.989769  Na.pbe-spn-rrkjus_psl.0.2.UPF
    Cl  35.453     Cl.pbe-n-rrkjus_psl.0.1.UPF
ATOMIC_POSITIONS (crystal)
Na  0.00 0.00 0.00                                       
Cl  0.5 0.5 0.5                                        
K_POINTS (automatic)
  
 6 6 6 0 0 0
