
     Program PWSCF v.6.0 (svn rev. 13079) starts on 26Jul2020 at 21:13:52 

     This program is part of the open-source Quantum ESPRESSO suite
     for quantum simulation of materials; please cite
         "P. Giannozzi et al., J. Phys.:Condens. Matter 21 395502 (2009);
          URL http://www.quantum-espresso.org", 
     in publications or presentations arising from this work. More details at
     http://www.quantum-espresso.org/quote

     Parallel version (MPI), running on    10 processors
     R & G space division:  proc/nbgrp/npool/nimage =      10
     Waiting for input...
     Reading input from standard input

     Current dimensions of program PWSCF are:
     Max number of different atomic species (ntypx) = 10
     Max number of k-points (npk) =  40000
     Max angular momentum in pseudopotentials (lmaxx) =  3

     Subspace diagonalization in iterative solution of the eigenvalue problem:
     one sub-group per band group will be used
     scalapack distributed-memory algorithm (size of sub-group:  2*  2 procs)

 
     Parallelization info
     --------------------
     sticks:   dense  smooth     PW     G-vecs:    dense   smooth      PW
     Min          74      74     24                 1351     1351     239
     Max          75      75     25                 1356     1356     241
     Sum         745     745    241                13539    13539    2397
 


     bravais-lattice index     =            2
     lattice parameter (alat)  =      10.4109  a.u.
     unit-cell volume          =     282.1019 (a.u.)^3
     number of atoms/cell      =            2
     number of atomic types    =            1
     number of electrons       =         8.00
     number of Kohn-Sham states=            4
     kinetic-energy cutoff     =      50.0000  Ry
     charge density cutoff     =     200.0000  Ry
     convergence threshold     =      1.0E-10
     mixing beta               =       0.7000
     number of iterations used =            8  plain     mixing
     Exchange-correlation      = PBE ( 1  4  3  4 0 0)

     celldm(1)=  10.410909  celldm(2)=   0.000000  celldm(3)=   0.000000
     celldm(4)=   0.000000  celldm(5)=   0.000000  celldm(6)=   0.000000

     crystal axes: (cart. coord. in units of alat)
               a(1) = (  -0.500000   0.000000   0.500000 )  
               a(2) = (   0.000000   0.500000   0.500000 )  
               a(3) = (  -0.500000   0.500000   0.000000 )  

     reciprocal axes: (cart. coord. in units 2 pi/alat)
               b(1) = ( -1.000000 -1.000000  1.000000 )  
               b(2) = (  1.000000  1.000000  1.000000 )  
               b(3) = ( -1.000000  1.000000 -1.000000 )  


     PseudoPot. # 1 for Si read from file:
     ./Si.pbe-n-rrkjus_psl.1.0.0.UPF
     MD5 check sum: 0b0bb1205258b0d07b9f9672cf965d36
     Pseudo is Ultrasoft + core correction, Zval =  4.0
     Generated using "atomic" code by A. Dal Corso  v.5.1
     Using radial grid of 1141 points,  6 beta functions with: 
                l(1) =   0
                l(2) =   0
                l(3) =   1
                l(4) =   1
                l(5) =   2
                l(6) =   2
     Q(r) pseudized with 0 coefficients 


     atomic species   valence    mass     pseudopotential
        Si             4.00    28.08550     Si( 1.00)

     48 Sym. Ops., with inversion, found (24 have fractional translation)



   Cartesian axes

     site n.     atom                  positions (alat units)
         1           Si  tau(   1) = (   0.0000000   0.0000000   0.0000000  )
         2           Si  tau(   2) = (   0.2500000   0.2500000   0.2500000  )

     number of k points=    28
                       cart. coord. in units 2pi/alat
        k(    1) = (  -0.0833333   0.0833333   0.0833333), wk =   0.0185185
        k(    2) = (  -0.2500000   0.2500000  -0.0833333), wk =   0.0555556
        k(    3) = (  -0.4166667   0.4166667  -0.2500000), wk =   0.0555556
        k(    4) = (   0.4166667  -0.4166667   0.5833333), wk =   0.0555556
        k(    5) = (   0.2500000  -0.2500000   0.4166667), wk =   0.0555556
        k(    6) = (   0.0833333  -0.0833333   0.2500000), wk =   0.0555556
        k(    7) = (  -0.0833333   0.4166667   0.0833333), wk =   0.0555556
        k(    8) = (  -0.2500000   0.5833333  -0.0833333), wk =   0.1111111
        k(    9) = (   0.5833333  -0.2500000   0.7500000), wk =   0.1111111
        k(   10) = (   0.4166667  -0.0833333   0.5833333), wk =   0.1111111
        k(   11) = (   0.2500000   0.0833333   0.4166667), wk =   0.1111111
        k(   12) = (  -0.0833333   0.7500000   0.0833333), wk =   0.0555556
        k(   13) = (   0.7500000  -0.0833333   0.9166667), wk =   0.1111111
        k(   14) = (   0.5833333   0.0833333   0.7500000), wk =   0.1111111
        k(   15) = (   0.4166667   0.2500000   0.5833333), wk =   0.1111111
        k(   16) = (  -0.0833333  -0.9166667   0.0833333), wk =   0.0555556
        k(   17) = (  -0.2500000  -0.7500000  -0.0833333), wk =   0.1111111
        k(   18) = (  -0.0833333  -0.5833333   0.0833333), wk =   0.0555556
        k(   19) = (  -0.2500000   0.2500000   0.2500000), wk =   0.0185185
        k(   20) = (  -0.4166667   0.4166667   0.0833333), wk =   0.0555556
        k(   21) = (   0.4166667  -0.4166667   0.9166667), wk =   0.0555556
        k(   22) = (   0.2500000  -0.2500000   0.7500000), wk =   0.0555556
        k(   23) = (  -0.2500000   0.5833333   0.2500000), wk =   0.0555556
        k(   24) = (   0.5833333  -0.2500000   1.0833333), wk =   0.1111111
        k(   25) = (   0.4166667  -0.0833333   0.9166667), wk =   0.1111111
        k(   26) = (  -0.2500000  -1.0833333   0.2500000), wk =   0.0555556
        k(   27) = (  -0.4166667   0.4166667   0.4166667), wk =   0.0185185
        k(   28) = (   0.4166667  -0.4166667   1.2500000), wk =   0.0555556

     Dense  grid:    13539 G-vectors     FFT dimensions: (  36,  36,  36)

     Estimated max dynamical RAM per process >       1.37Mb

     Estimated total allocated dynamical RAM >      13.73Mb

     Check: negative/imaginary core charge=   -0.000001    0.000000

     Initial potential from superposition of free atoms

     starting charge    7.99888, renormalised to    8.00000
     Starting wfc are    8 randomized atomic wfcs

     total cpu time spent up to now is        0.5 secs

     per-process dynamical memory:    14.7 Mb

     Self-consistent Calculation

     iteration #  1     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  1.00E-02,  avg # of iterations =  2.0

     Threshold (ethr) on eigenvalues was too large:
     Diagonalizing with lowered threshold

     Davidson diagonalization with overlap
     ethr =  6.43E-04,  avg # of iterations =  1.4

     total cpu time spent up to now is        0.7 secs

     total energy              =     -22.83748702 Ry
     Harris-Foulkes estimate   =     -22.84907796 Ry
     estimated scf accuracy    <       0.05118222 Ry

     iteration #  2     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  6.40E-04,  avg # of iterations =  1.0

     total cpu time spent up to now is        0.9 secs

     total energy              =     -22.83919501 Ry
     Harris-Foulkes estimate   =     -22.83942158 Ry
     estimated scf accuracy    <       0.00261882 Ry

     iteration #  3     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  3.27E-05,  avg # of iterations =  2.8

     total cpu time spent up to now is        1.1 secs

     total energy              =     -22.83976640 Ry
     Harris-Foulkes estimate   =     -22.83982113 Ry
     estimated scf accuracy    <       0.00011840 Ry

     iteration #  4     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  1.48E-06,  avg # of iterations =  2.1

     total cpu time spent up to now is        1.2 secs

     total energy              =     -22.83978764 Ry
     Harris-Foulkes estimate   =     -22.83981300 Ry
     estimated scf accuracy    <       0.00005390 Ry

     iteration #  5     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  6.74E-07,  avg # of iterations =  2.0

     total cpu time spent up to now is        1.4 secs

     total energy              =     -22.83979372 Ry
     Harris-Foulkes estimate   =     -22.83979369 Ry
     estimated scf accuracy    <       0.00000002 Ry

     iteration #  6     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  3.07E-10,  avg # of iterations =  4.8

     total cpu time spent up to now is        1.7 secs

     total energy              =     -22.83979404 Ry
     Harris-Foulkes estimate   =     -22.83979405 Ry
     estimated scf accuracy    <       0.00000003 Ry

     iteration #  7     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  3.07E-10,  avg # of iterations =  1.0

     total cpu time spent up to now is        1.8 secs

     total energy              =     -22.83979404 Ry
     Harris-Foulkes estimate   =     -22.83979404 Ry
     estimated scf accuracy    <          5.1E-09 Ry

     iteration #  8     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  6.43E-11,  avg # of iterations =  2.1

     total cpu time spent up to now is        2.0 secs

     total energy              =     -22.83979404 Ry
     Harris-Foulkes estimate   =     -22.83979404 Ry
     estimated scf accuracy    <          1.1E-10 Ry

     iteration #  9     ecut=    50.00 Ry     beta=0.70
     Davidson diagonalization with overlap
     ethr =  1.32E-12,  avg # of iterations =  3.1

     total cpu time spent up to now is        2.2 secs

     End of self-consistent calculation

          k =-0.0833 0.0833 0.0833 (  1699 PWs)   bands (ev):

    -5.8225   4.8990   5.6230   5.6230

          k =-0.2500 0.2500-0.0833 (  1684 PWs)   bands (ev):

    -5.3622   2.8500   4.4308   5.4147

          k =-0.4167 0.4167-0.2500 (  1679 PWs)   bands (ev):

    -4.3117   0.1763   3.9693   4.7977

          k = 0.4167-0.4167 0.5833 (  1690 PWs)   bands (ev):

    -3.6486  -0.9199   4.0268   4.4318

          k = 0.2500-0.2500 0.4167 (  1677 PWs)   bands (ev):

    -4.7067   0.9939   4.4947   4.5099

          k = 0.0833-0.0833 0.2500 (  1704 PWs)   bands (ev):

    -5.5900   3.8346   5.0032   5.1688

          k =-0.0833 0.4167 0.0833 (  1683 PWs)   bands (ev):

    -5.1291   2.6388   4.2732   4.2983

          k =-0.2500 0.5833-0.0833 (  1683 PWs)   bands (ev):

    -4.2514   0.8468   3.0083   3.9218

          k = 0.5833-0.2500 0.7500 (  1686 PWs)   bands (ev):

    -3.1861  -0.8261   2.4155   3.7061

          k = 0.4167-0.0833 0.5833 (  1688 PWs)   bands (ev):

    -3.8736   0.1825   2.3888   4.1710

          k = 0.2500 0.0833 0.4167 (  1687 PWs)   bands (ev):

    -4.9120   1.8403   3.6797   4.8089

          k =-0.0833 0.7500 0.0833 (  1685 PWs)   bands (ev):

    -3.5630   0.0239   2.9794   3.3016

          k = 0.7500-0.0833 0.9167 (  1680 PWs)   bands (ev):

    -2.4132  -1.2753   2.1774   2.9159

          k = 0.5833 0.0833 0.7500 (  1683 PWs)   bands (ev):

    -2.7800  -0.9336   1.7090   3.4405

          k = 0.4167 0.2500 0.5833 (  1684 PWs)   bands (ev):

    -3.7699  -0.4504   3.2768   4.2632

          k =-0.0833-0.9167 0.0833 (  1689 PWs)   bands (ev):

    -2.4973  -1.2811   2.7200   3.0927

          k =-0.2500-0.7500-0.0833 (  1678 PWs)   bands (ev):

    -3.4029  -0.1889   2.4799   3.2447

          k =-0.0833-0.5833 0.0833 (  1687 PWs)   bands (ev):

    -4.4484   1.3549   3.5014   3.7110

          k =-0.2500 0.2500 0.2500 (  1679 PWs)   bands (ev):

    -5.1410   1.9079   5.0277   5.0277

          k =-0.4167 0.4167 0.0833 (  1680 PWs)   bands (ev):

    -4.4865   0.9767   2.9725   4.8610

          k = 0.4167-0.4167 0.9167 (  1686 PWs)   bands (ev):

    -3.3553  -0.4336   1.9114   4.1051

          k = 0.2500-0.2500 0.7500 (  1689 PWs)   bands (ev):

    -3.3030  -0.5113   2.3661   3.6418

          k =-0.2500 0.5833 0.2500 (  1681 PWs)   bands (ev):

    -4.0790   0.2003   3.4025   4.0023

          k = 0.5833-0.2500 1.0833 (  1684 PWs)   bands (ev):

    -3.1156  -0.5578   2.0103   3.2464

          k = 0.4167-0.0833 0.9167 (  1682 PWs)   bands (ev):

    -2.3164  -1.2829   1.8629   2.6078

          k =-0.2500-1.0833 0.2500 (  1681 PWs)   bands (ev):

    -2.5208  -1.1817   1.7410   3.4536

          k =-0.4167 0.4167 0.4167 (  1679 PWs)   bands (ev):

    -3.9990  -0.5345   4.6478   4.6478

          k = 0.4167-0.4167 1.2500 (  1694 PWs)   bands (ev):

    -3.4203  -0.8387   2.8681   4.2265

     highest occupied level (ev):     5.6230

!    total energy              =     -22.83979404 Ry
     Harris-Foulkes estimate   =     -22.83979404 Ry
     estimated scf accuracy    <          1.7E-11 Ry

     The total energy is the sum of the following terms:

     one-electron contribution =       4.83588548 Ry
     hartree contribution      =       1.13870554 Ry
     xc contribution           =     -12.25698995 Ry
     ewald contribution        =     -16.55739512 Ry

     convergence has been achieved in   9 iterations

     Writing output data file si.save
 
     init_run     :      0.15s CPU      0.19s WALL (       1 calls)
     electrons    :      1.65s CPU      1.70s WALL (       1 calls)

     Called by init_run:
     wfcinit      :      0.06s CPU      0.08s WALL (       1 calls)
     potinit      :      0.01s CPU      0.01s WALL (       1 calls)

     Called by electrons:
     c_bands      :      1.43s CPU      1.46s WALL (      10 calls)
     sum_band     :      0.16s CPU      0.17s WALL (      10 calls)
     v_of_rho     :      0.03s CPU      0.03s WALL (      10 calls)
     newd         :      0.03s CPU      0.03s WALL (      10 calls)
     mix_rho      :      0.00s CPU      0.01s WALL (      10 calls)

     Called by c_bands:
     init_us_2    :      0.02s CPU      0.03s WALL (     588 calls)
     cegterg      :      1.38s CPU      1.34s WALL (     280 calls)

     Called by sum_band:
     sum_band:bec :      0.00s CPU      0.00s WALL (     280 calls)
     addusdens    :      0.04s CPU      0.04s WALL (      10 calls)

     Called by *egterg:
     h_psi        :      0.31s CPU      0.56s WALL (     934 calls)
     s_psi        :      0.02s CPU      0.02s WALL (     934 calls)
     g_psi        :      0.00s CPU      0.00s WALL (     626 calls)
     cdiaghg      :      0.98s CPU      0.63s WALL (     878 calls)

     Called by h_psi:
     h_psi:pot    :      0.31s CPU      0.55s WALL (     934 calls)
     h_psi:calbec :      0.03s CPU      0.04s WALL (     934 calls)
     vloc_psi     :      0.26s CPU      0.48s WALL (     934 calls)
     add_vuspsi   :      0.02s CPU      0.03s WALL (     934 calls)

     General routines
     calbec       :      0.04s CPU      0.05s WALL (    1214 calls)
     fft          :      0.01s CPU      0.02s WALL (     132 calls)
     fftw         :      0.31s CPU      0.51s WALL (    8006 calls)
     davcio       :      0.00s CPU      0.01s WALL (      28 calls)
 
     Parallel routines
     fft_scatter  :      0.10s CPU      0.18s WALL (    8138 calls)
 
     PWSCF        :     2.15s CPU         2.33s WALL

 
   This run was terminated on:  21:13:55  26Jul2020            

=------------------------------------------------------------------------------=
   JOB DONE.
=------------------------------------------------------------------------------=
